## Activity report for [{{{auditor_id}}}]

```
Report generated at     : {{{generated_at}}}
Activity reported since : {{{cutoff}}} 
```
{{#activity}}

### Activity for '{{{table}}}'

| Action     | Activity  |
|------------|----------:|
{{#stats}}
| {{{action}}} | {{{value}}} |
{{/stats}}
{{/activity}}

END OF REPORT
